header {
    overflow: auto; /* establece el comportamiento del contenedor */
    background-color: rgb(2, 2, 2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    background-image: url("foto/fondo5.jpg");
    background-size: cover; /* Ajusta la imagen al tamaño del encabezado */
    background-position: top; /* Centra la imagen en el encabezado */
    background-repeat: no-repeat;
  }

.resaltado{
  color: #ccab3d;
}

img {
    max-width: 100px;
    float: left; /* mueve la imagen hacia la izquierda */
    margin: 10px 30px 10px 10px; /* añade un margen a la derecha de la imagen */
    border-radius: 50%;
    border-color: #ccab3d;
    border-style: solid;
  }
  nav a {
    font-family: 'Gruppo', cursive;
  }

a {
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}

h2 {
    clear: right; /* asegura que el título esté debajo de la imagen */
    text-decoration: none;
    font-family: 'Bruno Ace SC', cursive;
    color: aliceblue;
    font-size: 20px;
    float: right;
    align-items: center;
    margin-top: 40px;
  }

  ul {
    list-style: none; /* quita los puntos de lista */
    padding: 0; /* elimina el relleno predeterminado del navegador */
    float: right; /* mueve el ul hacia la derecha */
    margin: 0 10px 0 0; /* establece un margen a la izquierda del ul */
  }
  
  li {
    display: inline-block; /* muestra los elementos en una fila horizontal */
    margin-right: 10px; /* añade un margen a la derecha de cada elemento */
  }

i {
    color: rgb(180, 170, 40);
    margin-right: 3px;
}

a h3 {
    color: black;
    font-family: 'Bebas Neue', sans-serif;
}

/* RUTA.2 */

form {
  background-image: url("foto/form2.jpg");
  background-size: cover; /* Ajusta la imagen al tamaño del encabezado */
  background-position: top; /* Centra la imagen en el encabezado */
  background-repeat: no-repeat;
}
label {
    color: rgb(225, 177, 18);
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    border-radius: 20%;
    font-family: 'Bruno Ace SC', cursive;
}

h5 {
    font-size: 40px;
    color: rgb(225, 177, 18);
    font-family: 'Bruno Ace SC', cursive;
}

legend {
    color: #ccab3d;
    font-size: 30px;
    font-family: 'Righteous', cursive;
}

input {
    font-size: 20px;
}

p {
    color: aliceblue;
    font-size: 20px;
}

textarea {
    width: 60%;
    height: 70%;
}