header {
    overflow: auto; /* establece el comportamiento del contenedor */
    background-color: rgb(2, 2, 2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    background-image: url("foto/fondo5.jpg");
    background-size: cover; /* Ajusta la imagen al tamaño del encabezado */
    background-position: top; /* Centra la imagen en el encabezado */
    background-repeat: no-repeat;
  }

.resaltado{
  color: #ccab3d;
}

.img-edit {
    max-width: 100px;
    float: left; /* mueve la imagen hacia la izquierda */
    margin: 10px 30px 10px 10px; /* añade un margen a la derecha de la imagen */
    border-radius: 50%;
    border-color: #ccab3d;
    border-style: solid;

  }

/*CONTENEDOR */
.contenedor {
  display: flex;
  height: 700px;
  justify-content: center;
  text-align: center;
  background-image: url('foto/ultttt2.jpg');
  background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
  background-position: center center;
  overflow: hidden;
}

a h3 {
  color: rgb(255, 255, 255);
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
  transition: 0,5s;
}

.caja {
  /* Estilos de las cajas */
  margin:auto; /* Espacio entre las cajas */
  overflow: hidden;
}

.caja:hover{
  color: rgb(188, 172, 0);
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
  font-size: 50px;
  transition: 0,5s;
}

.caja img {
  /* Estilos de la imagen */
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}

.caja .caja1img {
  width: 400px;
  padding: 10px;
  border-radius: 20%;
  border-color: #ccab3d;
  border-style: solid;
  border-top: saddlebrown;
  transition: 0.5s;
}

.caja #caja1:hover {
  width: 500px;
  padding: 30px;
  border-radius: 20%;
  border-color: #ccab3d;
  border-style: solid;
  border-top: saddlebrown;
  transition: 0.5s;
}

.caja .caja2img {
  width: 400px;
  height: 400px;
  padding: 10px;
  border-radius: 20%;
  border-color: #ccab3d;
  border-style: solid;
  border-top: saddlebrown;
  transition: 0.5s;
}

.caja #caja2:hover {
  width: 500px;
  height: 500px;
  padding: 30px;
  border-radius: 20%;
  border-color: #ccab3d;
  border-style: solid;
  border-top: saddlebrown;
  transition: 0.5s;
}

.caja #caja2:hover h3{
  font-size: 100px;
}

  nav a {
    font-family: 'Gruppo', cursive;
  }

a {
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    transition: 0.2s;
}

.nav__li:hover i{
    text-decoration: none;
    color: rgb(251, 249, 249);
    font-size: 22px;
    transition: 0.2s;
  }

  .nav__li:hover a{
  text-decoration: none;
  color: rgb(228, 207, 15);
  font-size: 22px;
  transition: 0.2s;
}

h2 {
    clear: right; /* asegura que el título esté debajo de la imagen */
    text-decoration: none;
    font-family: 'Bruno Ace SC', cursive;
    color: aliceblue;
    font-size: 20px;
    float: right;
    align-items: center;
    margin-top: 40px;
  }

  ul {
    list-style: none; /* quita los puntos de lista */
    padding: 0; /* elimina el relleno predeterminado del navegador */
    float: right; /* mueve el ul hacia la derecha */
    margin: 0 10px 0 0; /* establece un margen a la izquierda del ul */
  }
  
  li {
    display: inline-block; /* muestra los elementos en una fila horizontal */
    margin-right: 10px; /* añade un margen a la derecha de cada elemento */
  }

i {
    color: rgb(180, 170, 40);
    margin-right: 3px;
}

/* RUTA.2 */

form {
  background-image: url("foto/form2.jpg");
  background-size: cover; /* Ajusta la imagen al tamaño del encabezado */
  background-position: top; /* Centra la imagen en el encabezado */
  background-repeat: no-repeat;
}
label {
    color: rgb(225, 177, 18);
    font-size: 20px;
    border-radius: 20%;
    font-family: 'Bruno Ace SC', cursive;
}

h5 {
    font-size: 40px;
    color: rgb(225, 177, 18);
    font-family: 'Bruno Ace SC', cursive;
}

legend {
    color: #ccab3d;
    font-size: 30px;
    font-family: 'Righteous', cursive;
}

p {
    color: aliceblue;
    font-size: 20px;
}

input{
  font-size: 20px;
  background-color: black;
  color: aliceblue;
}
select{
  background-color: black;
  color: aliceblue;
}
textarea{
  width: 60%;
  height: 70%;
  background-color: black;
  color: aliceblue;
}