html, body {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}


/* CONFIGURO EL HEADER*/
header {
    overflow: auto; /* establece el comportamiento del contenedor */
    background-color: rgb(2, 2, 2);
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    background-image: url("foto/FONDOPROYECTO.jpg");
    background-repeat: no-repeat;
    background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
    background-position: center;
    background-attachment: fixed;
    height: 670px;
    text-align: center; 
  }

  /*APARECER Y DESAPARECER EL MENU*/
.checkbtn {
  font-size: 30px;
  color: aliceblue;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}


#check{
  display: none;
}

.resaltado{
  color: #ccab3d;
}

.nav__ul{
  margin-top: 35px;
  position: fixed;
  top: 30px; /* Posición vertical desde la parte superior */
  right: 10px; /* Posición horizontal desde la parte izquierda */
}

.logo-titulo{
  margin-top: 24px;
  position: fixed;
  top: 1px; /* Posición vertical desde la parte superior */
  left: 10px; /* Posición horizontal desde la parte izquierda */
}

h1{
  font-size: 60px;
  color: aliceblue;
  margin: auto;
  font-family: 'Lato', sans-serif;
  letter-spacing: 4px;
  opacity: 0;
  transition: opacity 3.5s ease-in-out, transform 3.5s ease-in-out;
  transform: translateX(-100%);
}

 h1.visible {
  opacity: 1;
  }

.img-edit {
    max-width: 85px;
    float: left; /* mueve la imagen hacia la izquierda */
    margin: 1px 20px 10px 10px; /* añade un margen a la derecha de la imagen */
    border-radius: 50%;
    border-color:rgb(188, 172, 0);;
    border-style: solid;

  }

  header h2 {
    clear: right; /* asegura que el título esté debajo de la imagen */
    text-decoration: none;
    font-family: 'Bruno Ace SC', cursive;
    color: aliceblue;
    font-size: 15px;
    float: right;
    align-items: center;
    margin-top: 40px;
  }

  ul {
    list-style: none; /* quita los puntos de lista */
    padding: 0; /* elimina el relleno predeterminado del navegador */
    float: right; /* mueve el ul hacia la derecha */
    margin: 0 10px 0 0; /* establece un margen a la izquierda del ul */
  }
  
  li {
    display: inline-block; /* muestra los elementos en una fila horizontal */
    margin-right: 10px; /* añade un margen a la derecha de cada elemento */
  }

i {
    color: rgb(180, 170, 40);
    margin-right: 3px;
}
nav a {
  font-family: 'Gruppo', cursive;
}

a {
  text-decoration: none;
  color: aliceblue;
  font-size: 15px;
  transition: 0.2s;
}

.nav__li:hover i, .nav__li:hover a{
text-decoration: none;
color: rgb(228, 207, 15);
font-size: 22px;
transition: 0.2s;
}



/*CONTENEDOR ----------------------------------------------------------------------------------------- */
.contenedor {
  display: flex;
  height: 800px;
  justify-content: center;
  background-image: url('foto/DEF.jpg');
  background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}



a h3 {
  color: rgb(255, 255, 255);
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
  transition: 0,5s;
  font-size: 20px;
}


.caja {
  /* Estilos de las cajas */
  margin: auto 60px; /* Espacio entre las cajas */
  overflow: hidden;
}

.caja:hover  h3{
  color: #ccab3d;
  transition: 0,3s;
}

.caja img {
  /* Estilos de la imagen */
  max-width: 100%;
  margin: auto;
  height: auto;
  box-sizing: border-box;
}

.caja .caja1img {
  width: 300px;
  padding: 10px;
  border-radius: 20%;
  border-color: #ccab3d;
  border-style: solid;
  border-top: saddlebrown;
  transition: 0.5s;
}

.caja:hover .caja1img{
  width: 400px;
  margin: auto;
  padding: 30px;
  border-radius: 20%;
  border-color: #ffffff;
  border-style: solid;
  border-top: saddlebrown;
  transition: 0.6s;
}

/*FOOTER*/ 
.footer {
  background-color: black;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer h2{
  font-size: 20px;
}

.contenedor2{
  margin: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.box {
  display: block;
  margin: auto;
  margin-right: 100px;
  margin-left: 100px;
  background-color: #000000;
  text-align: center;
}

footer h2, footer p{
  text-align: center;
  font-family: 'Kanit', sans-serif;
  font-size: 15px;
}


/* RUTA.2  HTML ---------------------------------------------------------------------*/ 

form {
  background-image: url("foto/FORMU.jpg");
  background-size: cover; /* Ajusta la imagen al tamaño del encabezado */
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
label {
    color: rgb(182, 139, 0);
    font-size: 20px;
    border-radius: 20%;
    font-family: 'Bruno Ace SC', cursive;
}

h5 {
    font-size: 40px;
    color: rgb(182, 139, 0);
    font-family: 'Bruno Ace SC', cursive;
}

legend {
    color: rgb(182, 139, 0);
    font-size: 30px;
    font-family: 'Righteous', cursive;
}

p {
    color: aliceblue;
    font-size: 20px;
}

input{
  font-size: 20px;
  background-color: black;
  color: aliceblue;
}
select{
  background-color: black;
  color: aliceblue;
}
textarea{
  width: 60%;
  height: 70%;
  background-color: black;
  color: aliceblue;
}


/* CV.3  HTML ---------------------------------------------------------------------ASDAS  */ 
.hperfil img{
  width: 300px;
  border-radius: 50%;
  margin: auto;
  display: flex;
}


@media (max-width: 920px) {
  /*MENU RESPONSIVE*/
.checkbtn{
  display: block;
  }
ul{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  top: 20px;
  left: -100%;
  text-align: center;
  transition: 0.5s;
}
.nav{
  width: 20px;
}
label i{
  position: fixed;
  margin: 20px 20px 20px 0px;
}

nav ul li{
  display: block;
  margin: 50px 0;
  line-height: 10px;
}

nav ul li a{
  font-size: 20px;
}

li a:hover, li a.active{
  background: none;
  color: rgb(255, 225, 0);
}

#check:checked ~ ul{
  left: 0;
}
/*                  */
body {
    max-width: 100%;
    overflow-x: hidden;
  }
  .nav__ul{
    margin-top: 60px;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
     white-space: nowrap;
    }

    li {
      margin-top: 10px;
    }
  
    .contenedor{
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 1300px;
      overflow-x: hidden;
     white-space: nowrap;
    }
    
    .caja{
      width: 300px;
      overflow-x: hidden;
     white-space: nowrap;
     margin: 30px;
    }
    .contenedor2{
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      margin: auto;
      overflow-x: hidden;
     white-space: nowrap;
    }
  
    .logo-titulo{
      margin-top: 10px;
    }
   header h2{
    margin-top: 1px;
   }
    .logo{
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      margin: auto;
      overflow-x: hidden;
     white-space: nowrap;
    }

    .img-edit {
      max-width: 60px;
      float: left; /* mueve la imagen hacia la izquierda */
      margin: 5px 30px 10px 10px; /* añade un margen a la derecha de la imagen */
      border-radius: 50%;
      border-color:rgb(188, 172, 0);;
      border-style: solid;
  
    }
    
    nav .logo h2{
      font-size: small;
    }
}

@media (max-width: 1200px) {
  .caja{
    margin: auto 20px;
  }
}